################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/szescian/v15/ipch/AutoPCH/2cb3aaeadf53538b
